{% extends 'management/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendors/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'staff_member_list' %}">Staff Members</a></li>
  <li class="breadcrumb-item active">{{ staff_member.get_full_name }}</li>
</ol>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    {{staff_member.get_full_name}}'s Record
    <a href="{% url 'staff_member_list' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <img
              src="{% if staff_member.profile_photo %}{{ staff_member.profile_photo.url }}{% else %}{% static 'img/avatars/avatar.svg' %}{% endif %}"
              class="img-fluid img-thumbnail" alt="staff_member.get_full_name">
          </div>
          <div class="card-body">
            <h4 style="margin-bottom:-4">BIO</h4>
            <hr>
            <strong>Staff Record No:</strong> {{ staff_member.pk }} <br>
            <strong>First Name:</strong> {{ staff_member.first_name }} <br>
            <strong>Middle Name:</strong> {{ staff_member.middle_name }} <br>
            <strong>Last Name:</strong> {{ staff_member.last_name }} <br>
            <strong>Address:</strong> {{ staff_member.full_address }} <br>
            <strong>Birthday:</strong> {{ staff_member.date_of_birth }} <br>
            <strong>Gender:</strong> {{ staff_member.get_gender_display }} <br>
            <strong>Civil Status:</strong> {{ staff_member.get_civil_status_display }} <br>
            <strong>Age:</strong> {{ staff_member.get_age }} year/s old<br>

            <h4 class="mt-5" style="margin-bottom:-4">Latest Vitals</h4>
            <hr>
            {% if latest_med_rec %}
            <strong>Weight:</strong> {{ latest_med_rec.weight }} kg<br>
            <strong>Height:</strong> {{ latest_med_rec.height }} cm<br>
            <strong>BMI:</strong> {{ latest_med_rec.bmi }}<br>
            <strong>BMI Category:</strong> {{ latest_med_rec.get_bmi_category_display }}
            {% else %}
            No medical record found for this staff member.
            {% endif %}
          </div>
          {% if user.is_staff %}
          <div class="card-footer">
            <a href="{% url 'staff_member_edit' staff_member.pk %}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>
              Edit</a>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-sm-8">

        <!-- Medical Records -->
        <div class="card">
          <div class="card-header">
            {{staff_member.get_full_name}}'s Medical Records
            {% if user.is_staff %}
            <a href="{% url 'medical_for_staff_member' staff_member.pk %}" class="btn btn-sm btn-success float-right mt-1"><i
                class="fa fa-plus"></i> New</a>
            <button type="button" title="Export {{ staff_member.get_full_name }}'s Medical Data"
              class="btn btn-sm btn-info float-right mt-1 mr-3" data-toggle="modal" data-target="#export-med"><i
                class="fa fa-download"></i></a>
              <button type="button" title="Import {{ staff_member.get_full_name }}'s Medical Data"
                class="btn btn-sm btn-info float-right mt-1" data-toggle="modal" data-target="#import-med"><i
                  class="fa fa-upload"></i></a>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="medical" class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>Medical Record No.</th>
                    <th>Height and Weight</th>
                    <th>BMI</th>
                    <th>BMI Category</th>
                    <th>Date of Consultation</th>
                    <th>Medicine used</th>
                    <th>Purpose of Consultation</th>
                  </tr>
                </thead>
                <tbody>
                  {% if medical_records %}
                  {% for medical_record in medical_records %}
                  <tr>
                    <td><a style="text-decoration:none" href="{% url 'medical_record_edit' medical_record.pk %}">Record No. {{ medical_record.pk }}</a></td>
                    <td>{{ medical_record.height }} cm, {{ medical_record.weight }} kg</td>
                    <td>{{ medical_record.bmi }}</td>
                    <td>{{ medical_record.get_bmi_category_display }}</td>
                    <td>{{ medical_record.checkup_date }}</td>
                    <td>{{ medical_record.medicine_used }}</td>
                    <td>{{ medical_record.reason_of_admission }}</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- / Medical Records -->

      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block modals %}
<div id="export-med" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Export staff_member's Medical Data"
  aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Export {{ staff_member.get_full_name }}'s Medical Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p style="margin-bottom:20px">Choose the format you wish to export the data:</p>
        <div class="btn-group-vertical" role="group" aria-label="Select export filetype">
          <a href="{% url 'export_medical_staff_member' staff_member.pk 'csv' %}" class="btn btn-lg btn-primary">
            <i class="fa fa-download"></i> Export as .csv
          </a>
          <a href="{% url 'export_medical_staff_member' staff_member.pk 'xls' %}" class="btn btn-lg btn-primary">
            <i class="fa fa-download"></i> Export as .xls
          </a>
          <a href="{% url 'export_medical_staff_member' staff_member.pk 'json' %}" class="btn btn-lg btn-primary">
            <i class="fa fa-download"></i> Export as .json
          </a>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="import-med" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Import staff_member Medical Data"
  aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Import {{ staff_member.get_full_name }}'s Medical Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-warning">
          <strong>Please be sure to have the correct format of data in your file.<br>
            If file fails to upload or does not show the changes you made after the upload please make sure the format
            of the fields are correct.
          </strong>
        </p>
        <p class="file-input field">
          <form class="md-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm-12 alert alert-info">
              <label for="file-input">Select the file to upload:</label><br>
              <input class="form-control" id="fileInput" type="file" name="medical">
            </div>
            <button id="upload-btn" onclick="upload(event)" class="btn btn-lg btn-success" type="submit">
              <i class="fa fa-upload"></i> Upload
            </button>
          </form>
        </p>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block scripts %}
<script src="{% static 'vendors/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  function upload(event) {
    if (!document.getElementById("fileInput").value) {
      event.preventDefault();
      alert("Please select a file to upload!");
    }
  }
  $(document).ready(function () {
    $('#medical,#pregnancy,#dental').DataTable();
  });
</script>
{% endblock %}