{% extends 'base.html' %}

{% block title %} Internal Server Problem | 500 Error {% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="clearfix">
				<h1 class="float-left display-3 mr-4">500</h1>
				<h4 class="pt-3">The server has encountered an error.</h4>
				<p class="text-muted">The page you are looking for is not currently available. Sorry for the inconvenience.</p>
			</div>
			<a href="{% url 'home' %}" class="btn btn-info float-right">Home</a>
		</div>
	</div>
</div>

{% endblock %}