{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="School Clinic Record System - ALTA TIERRA INTEGRATED SCHOOL, INC.">
	  <meta name="author" content="tramyek">
	  <meta name="keyword" content="School Clinic Record System">
	  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

	  <title>{% block title %}{% endblock %}</title>

	  <link href="{% static 'vendors/css/font-awesome.min.css' %}" rel="stylesheet">
	  <link href="{% static 'vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

	  <link href="{% static 'css/style.css' %}" rel="stylesheet">
	  
	  
	</head>
	<body class="app flex-row align-items-center">
	
		{% block content %}
		{% endblock %}
		

		<script src="{% static 'vendors/js/jquery.min.js' %}"></script>
		<script src="{% static 'vendors/js/popper.min.js' %}"></script>
		<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
	</body>
</html>