{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="School Clinic Record System - ALTA TIERRA INTEGRATED SCHOOL, INC.">
  <meta name="author" content="tramyek">
  <meta name="keyword" content="School Clinic Record System">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  <title>{% block title %}SCRS | {{section}}{% endblock %}</title>

  <!-- Icons -->
  <link href="{% static 'vendors/css/flag-icon.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- Styles required by this views -->
  {% block styles %}
  {% endblock %}

</head>

<!-- {# BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'					- Fixed Header

// Brand options
1. '.brand-minimized'       - Minimized brand (Only symbol)

// Sidebar options
1. '.sidebar-fixed'					- Fixed Sidebar
2. '.sidebar-hidden'				- Hidden Sidebar
3. '.sidebar-off-canvas'		- Off Canvas Sidebar
4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
5. '.sidebar-compact'			  - Compact Sidebar

// Aside options
1. '.aside-menu-fixed'			- Fixed Aside Menu
2. '.aside-menu-hidden'			- Hidden Aside Menu
3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

// Breadcrumb options
1. '.breadcrumb-fixed'			- Fixed Breadcrumb

// Footer options
1. '.footer-fixed'					- Fixed footer

#} -->

<body class="app header-fixed sidebar-fixed">
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}" title='School Clinic Record System'></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <h4 class="">Alta Tierra Integrated School Inc. Clinic Record</h4>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'img/avatars/avatar.svg' %}" class="img-avatar" alt="{{ user.email }}">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>({{ user.username }}) {{ user.get_full_name }}</strong><br>
            <strong>{{ user.email }}</strong><br>
          </div>
          <a class="dropdown-item" href="{% url 'account_profile' %}"><i class="icon-user"></i> Profile</a>
          <a class="dropdown-item" href="{% url 'password_change' %}"><i class="icon-lock-open"></i> Change Password</a>
          <!--{#<a class="dropdown-item" href="#"><i class="icon-settings"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="icon-shield"></i> Lock Account</a>#}-->
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="icon-logout"></i> Logout</a>
        </div>
      </li>
      {% endif %}
    </ul>

  </header>

  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"><i class="icon-home"></i> Home </a>
          </li>
          <!-- {% comment %} {% if not user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student_detail' user.pk %}"><i class="icon-user"></i> My Data </a>
          </li>
          {% endif %} {% endcomment %} -->
          {% if user.is_staff %}
          <li class="nav-title">
            Patient Management
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> Patients</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> Students</a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_list' %}"><i class="icon-people"></i> List of Students</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_add' %}"><i class="icon-user-follow"></i> New Student</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> Staff</a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff_member_list' %}"><i class="icon-people"></i> List of Staff</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff_member_add' %}"><i class="icon-user-follow"></i> New Staff</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-title">
            Record Management
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-notebook"></i> Records</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'medical_record_list' %}"><i class="icon-notebook"></i> Medical
                  Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'condition_list' %}"><i class="icon-notebook"></i> Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'grade_level_list' %}"><i class="icon-notebook"></i> Grade Levels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'section_list' %}"><i class="icon-notebook"></i> Sections</a>
              </li>
            </ul>
          </li>

          <li class="nav-title">
            Authentication (Admin)
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-lock"></i> Accounts</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_list' %}"><i class="icon-people"></i> List of Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_add' %}"><i class="icon-user-follow"></i> New Account</a>
              </li>
            </ul>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'student_list' %}"><i class="icon-people"></i> Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'staff_member_list' %}"><i class="icon-people"></i> Staff Members</a>
          </li>

          {% endif %}
        </ul>
      </nav>
    </div>

    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      {% block breadcrumb %}

      {% endblock %}

      <div class="container-fluid">
        <div class="animated fadeIn">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
            role="alert">{{ message }}</div>
          {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </div>

    </main>

  </div>

  <footer class="app-footer">
    <span><a href="#">SCRS</a> © 2019</span>
    <!-- <span class="ml-auto">Contact us @<a href="#">support</a></span> -->
  </footer>

  {% block modals %}
  {% endblock %}

  <!-- Bootstrap and necessary plugins -->
  <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/js/popper.min.js' %}"></script>
  <script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/js/pace.min.js' %}"></script>
  <script src="{% static 'vendors/js/moment.min.js' %}"></script>
  <script src="{% static 'vendors/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <!-- Plugins and scripts required by all views -->
  <script src="{% static 'vendors/js/Chart.min.js' %}"></script>

  <!-- CoreUI main scripts -->

  <script src="{% static 'js/app.js' %}"></script>

  {% block scripts %}
  {% endblock %}

</body>

</html>