{% extends 'management/base.html' %}

{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Dashboard</li>
</ol>
{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Charts
	  <span class="float-right">Total recorded: {{ total }} patient/s</span>
    </div>
    <div class="card-body">
      <div class="card-columns cols-2">
        <div class="card">
            <div class="card-header">
              Gender Chart
              <!--<select class="float-right" name="" id="">
                <option value="">Bar</option>
                <option value="">Line</option>
              </select>-->
            </div>
            <div class="card-body">
              <div class="chart-wrapper"><div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas id="canvas-1" style="display: block; width: 493px; height: 246px;" width="493" height="246" class="chartjs-render-monitor"></canvas>
              </div>
            </div>
          </div>
        
          <div class="card">
            <div class="card-header">
              BMI Chart
              <!--<select class="float-right" name="" id="">
                <option value="">Bar</option>
                <option value="">Line</option>
              </select>-->
            </div>
            <div class="card-body">
              <div class="chart-wrapper"><div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas id="canvas-2" style="display: block; width: 493px; height: 246px;" width="493" height="246" class="chartjs-render-monitor"></canvas>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Statistics
    </div>
    <div class="card-body">
          <table id="patients" class="table" style="width:100%">
		    <thead>
			  <tr>
			    <td>Name</td>
			    <td colspan=4>Statistics</td>
			  </tr>
		    </thead>
		    <tbody>
			  <tr>
			    <td><b>Gender</b></td>
			    <td><small>Least</small><br>{% if male < female %}Male ({{ male }}){% elif male == female %}Equal Count{% else %}Female ({{ female }}){% endif %}</td>
			    <td><small>Most</small><br>{% if male > female %}Male ({{ male }}){% elif male == female %}Equal Count{% else %}Female ({{ female }}){% endif %}</td>
			    <td><small>Values</small><br>Male ({{ male }}), Female ({{ female }})</td>
				<td><small>Percentage over total population</small><br>Male ({{ male_percentage }}), Female ({{ female_percentage }})</td>
			  </tr>
			  <tr>
			    <td><b>Age</b></td>
			    <td><small>Youngest</small><br>{{ lowest_age.age__min }}</td>
			    <td><small>Oldest</small><br>{{ highest_age.age__max }}</td>
			    <td><small>Average age</small><br>{{ average_age.age__avg }}</td>
				<td></td>
			  </tr>
		    </tbody>
		  </table>
      </div>
  </div>
  
{% endblock %}

{% block scripts %}

<!-- Custom scripts required by this view -->
<!-- <script src="{% static 'js/views/charts.js' %}"></script> -->
<script>
  var male = {{male}};
  var female = {{female}};
  var barChartData = {
    labels : ['Sucat'],
    datasets : [
      {
        label: 'Male',
        backgroundColor : 'rgba(66, 134, 244, 0.7)',
        borderColor : 'rgba(151,187,205,0.8)',
        highlightFill : 'rgba(66, 134, 244, 0.8)',
        highlightStroke : 'rgba(151,187,205,1)',
        data : [male]
      },
      {
        label: 'Female',
        backgroundColor : 'rgba(216, 45, 36, 0.7)',
        borderColor : 'rgba(151,187,205,0.8)',
        highlightFill : 'rgba(216, 45, 36, 1)',
        highlightStroke : 'rgba(151,187,205,1)',
        data : [female]
      }
    ]
  }
  var ctx = document.getElementById('canvas-1');
  var chart = new Chart(ctx, {
    type: 'bar',
    data: barChartData,
    options: {
      scales: {
        yAxes: [
			{
				ticks: {
					beginAtZero:true,
					max:{{total}}+1,
					userCallback: function(label, index, labels) {
							 // when the floored value is the same as the value we have a whole number
							 if (Math.floor(label) === label) {
								 return label;
							 }
					}
				}
			}
		]
      },
      responsive: true
    }
  });

 
  var lineChartData = {
    labels : ['Purok 1','Purok 2','Purok 3','Purok 4','Purok 5'],
    datasets : [
      {
        label: 'Very Severely Underweight',
        backgroundColor : 'rgba(242, 9, 9, 0.15)',
        borderColor : 'rgba(242, 9, 9, 1)',
        pointBackgroundColor : 'rgba(242, 9, 9, 1)',
        pointBorderColor : '#fff',
        data : [{{vsu_p1}},{{vsu_p2}},{{vsu_p3}},{{vsu_p4}},{{vsu_p5}}]
      },
      {
        label: 'Severely Underweight',
        backgroundColor : 'rgba(236, 247, 56, 0.15)',
        borderColor : 'rgba(236, 247, 56, 1)',
        pointBackgroundColor : 'rgba(236, 247, 56, 1)',
        pointBorderColor : '#fff',
        data : [{{su_p1}},{{su_p2}},{{su_p3}},{{su_p4}},{{su_p5}}]
      },
      {
        label: 'Underweight',
        backgroundColor : 'rgba(53, 154, 242, 0.15)',
        borderColor : 'rgba(53, 154, 242, 1)',
        pointBackgroundColor : 'rgba(53, 154, 242, 1)',
        pointBorderColor : '#fff',
        data : [{{u_p1}},{{u_p2}},{{u_p3}},{{u_p4}},{{u_p5}}]
      },
      {
        label: 'Normal',
        backgroundColor : 'rgba(16, 242, 39, 0.15)',
        borderColor : 'rgba(16, 242, 39, 1)',
        pointBackgroundColor : 'rgba(16, 242, 39, 1)',
        pointBorderColor : '#fff',
        data : [{{n_p1}},{{n_p2}},{{n_p3}},{{n_p4}},{{n_p5}}]
      },
	  {
        label: 'Overweight',
        backgroundColor : 'rgba(124, 15, 177, 0.15)',
        borderColor : 'rgba(241, 15, 177, 1)',
        pointBackgroundColor : 'rgba(241, 15, 177, 1)',
        pointBorderColor : '#fff',
        data : [{{o_p1}},{{o_p2}},{{o_p3}},{{o_p4}},{{o_p5}}]
      },
      {
        label: 'Moderately Obese',
        backgroundColor : 'rgba(241, 15, 177, 0.15)',
        borderColor : 'rgba(241, 15, 177, 1)',
        pointBackgroundColor : 'rgba(241, 15, 177, 1)',
        pointBorderColor : '#fff',
        data : [{{mo_p1}},{{mo_p2}},{{mo_p3}},{{mo_p4}},{{mo_p5}}]
      },
      {
        label: 'Severely Obese',
        backgroundColor : 'rgba(190, 13, 196, 0.15)',
        borderColor : 'rgba(190, 13, 196, 1)',
        pointBackgroundColor : 'rgba(190, 13, 196, 1)',
        pointBorderColor : '#fff',
        data : [{{so_p1}},{{so_p2}},{{so_p3}},{{so_p4}},{{so_p5}}]
      },
      {
        label: 'Very Severely Obese',
        backgroundColor : 'rgba(104, 4, 4, 0.15)',
        borderColor : 'rgba(104, 4, 4, 1)',
        pointBackgroundColor : 'rgba(104, 4, 4, 1)',
        pointBorderColor : '#fff',
        data : [{{vso_p1}},{{vso_p2}},{{vso_p3}},{{vso_p4}},{{vso_p5}}]
      }
    ]
  }

  var ctx = document.getElementById('canvas-2');
  var chart = new Chart(ctx, {
    type: 'line',
    data: lineChartData,
    options: {
      scales: {
        yAxes: [
			{
				ticks: {
					beginAtZero:true,
					max:{{total}}+1,
					userCallback: function(label, index, labels) {
							 // when the floored value is the same as the value we have a whole number
							 if (Math.floor(label) === label) {
								 return label;
							 }
					}
				}
			}
		]
      },
      responsive: true
    }
  });
</script>

{% endblock %}