{% extends 'management/base.html' %}

{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>

  <!-- Breadcrumb Menu-->
  <!--{#<li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn" href="#"><i class="icon-speech"></i></a>
      <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
      <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
    </div>
  </li>#}-->
</ol>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    <b>ALTA TIERRA INTEGRATED SCHOOL, INC.</b>
    <!--
    <div class="card-actions">
      <a href="#" target="_blank">
        <small class="text-muted">docs</small>
      </a>
    </div>
    -->
  </div>
  <div class="card-body">
    <div class="col-sm-12">
      <figure class="figure">
        <figcaption class="container figure-caption">
          <div class="card text-justify">
            <div class="card-header">
              <h4>History</h4>
            </div>
            <div class="card-body">
              <h5>Alta Tierra Integrated School, Inc. (ATISI) was established in February 2012. With 39 pioneering students, a big vision, and a lofty mission the school was named Alta Tierra Integrated School, Inc. which was derived from its current domicile, a Spanish term meaning The Highlands</h5>
              <h5>Presently, this educational institution is committed to developing and nurturing the intelligence and potentials of learners that will make them useful members of the society. It further hopes of molding him/her to be a good Filipino citizen, through innovative teaching methods, caring administrative staffs, faculty and non teaching personnel. </h5>
              <h5>As the fastest growing private education provider in the area, it continuously acquires and upgrades its instructional holdings and improves its physical plant to provide the learners conducive learning environment.</h5>
              <h5>An amazing feat for young schools - the school was granted Government Recognition status in its tender years  - Complete Pre-elementary Course in just three years (2015) and Complete Elementary and Secondary Courses in just four years.</h5>
            </div>
          </div>
          <div class="card text-justify">
            <div class="card-header">
              <h4>Mission</h4>
            </div>
            <div class="card-body">
              <h5>We commit to sharpen student’s character and competence through the highest standard of education and formation to become a person in service of God and humanity.</h5>
            </div>
          </div>
          <div class="card text-justify">
            <div class="card-header">
              <h4>Vision</h4>
            </div>
            <div class="card-body">
              <h5>To enable students to discover their own potentials and strength in service of humanity.</h5>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

{% endblock %}
