{% extends 'management/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load form_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'condition_list' %}">Conditions</a></li>
  <li class="breadcrumb-item active">New Condition</li>
</ol>
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      <b>Please correct the errors below:</b> <br> {{ error }}
    {% endfor %}
  </div>
{% endif %}
<form action="" method="post" class="form-horizontal" novalidate>
  {% csrf_token %}

  <div class="card">
    <div class="card-header">
      <b> </b><small>Please fill out the required fields</small>
      <a href="{% url 'condition_list' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
    </div>
    <div class="card-body">
      
      {% if form.is_bound %}

      <div class="form-group row">
        <div class="col-sm-12">
        {% if form.name.errors %}
          {% render_field form.name class="form-control is-invalid" placeholder="Name" %}
          {% for error in form.name.errors %}
          <div class="invalid-feedback">
            {{error}}
          </div>
          {% endfor %}
          {% if form.name.help_text %}
            <small class="form-text text-muted">
              {{ form.name.help_text|safe }}
            </small> 
          {% endif %}
        {% else %}
          {% render_field form.name class="form-control is-valid" placeholder="Name" %}
            {% if form.name.help_text %}
            <small class="form-text text-muted">
              {{ form.name.help_text|safe }}
            </small> 
          {% endif %}
        {% endif %}
        </div>
        
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
        {% if form.description.errors %}
          {% render_field form.description class="form-control is-invalid" placeholder="Description" %}
          {% for error in form.description.errors %}
          <div class="invalid-feedback">
            {{error}}
          </div>
          {% endfor %}
          {% if form.description.help_text %}
            <small class="form-text text-muted">
              {{ form.description.help_text|safe }}
            </small> 
          {% endif %}
        {% else %}
          {% render_field form.description class="form-control is-valid" placeholder="Description" %}
          {% if form.description.help_text %}
            <small class="form-text text-muted">
              {{ form.description.help_text|safe }}
            </small> 
          {% endif %}
        {% endif %}
        </div>
        
      </div>
  
      {% else %}

      <div class="form-group row">
        <div class="col-sm-12">
          {% render_field form.name class="form-control" placeholder="Name" %}
          {% if form.name.help_text %}
            <small class="form-text text-muted">
              {{ form.name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          {% render_field form.description class="form-control" placeholder="Description" %}
          {% if form.description.help_text %}
            <small class="form-text text-muted">
              {{ form.description.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>

      {% endif %}
        
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Confirm</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</form>

{% endblock %}