{% extends 'management/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load form_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'account_list' %}">Accounts</a></li>
  <li class="breadcrumb-item active">New Account</li>
</ol>
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      <b>Please correct the errors below:</b> <br> {{ error }}
    {% endfor %}
  </div>
{% endif %}
<form action="" method="post" class="form-horizontal" novalidate>
  {% csrf_token %}

  <div class="card">
    <div class="card-header">
      <b> </b><small>Please fill out the required fields</small>
      <a href="{% url 'account_list' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
    </div>
    <div class="card-body">
      
      {% if form.is_bound %}

      <!-- Username and Email -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% if form.username.errors %}
            {% render_field form.username class="form-control is-invalid" placeholder="Username" %}
            {% for error in form.username.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.username.help_text %}
              <small class="form-text text-muted">
                {{ form.username.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.username class="form-control is-valid" placeholder="Username" %}
              {% if form.username.help_text %}
              <small class="form-text text-muted">
                {{ form.username.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% if form.email.errors %}
            {% render_field form.email class="form-control is-invalid" placeholder="Email" %}
            {% for error in form.email.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.email.help_text %}
              <small class="form-text text-muted">
                {{ form.email.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.email class="form-control is-valid" placeholder="Email" %}
            {% if form.email.help_text %}
              <small class="form-text text-muted">
                {{ form.email.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / Username and Email -->
  
      <!-- First Name and Last Name -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% if form.first_name.errors %}
            {% render_field form.first_name class="form-control is-invalid" placeholder="First Name" %}
            {% for error in form.first_name.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.first_name.help_text %}
              <small class="form-text text-muted">
                {{ form.first_name.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.first_name class="form-control is-valid" placeholder="First Name" %}
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% if form.last_name.errors %}
            {% render_field form.last_name class="form-control is-invalid" placeholder="Last Name" %}
            {% for error in form.last_name.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.last_name.help_text %}
              <small class="form-text text-muted">
                {{ form.last_name.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.last_name class="form-control is-valid" placeholder="Last Name" %}
            {% if form.last_name.help_text %}
              <small class="form-text text-muted">
                {{ form.last_name.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / First Name and Last Name -->

      <!-- Password -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% if form.password1.errors %}
            {% render_field form.password1 class="form-control is-invalid" placeholder="Password" %}
            {% for error in form.password1.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.password1.help_text %}
              <small class="form-text text-muted">
                {{ form.password1.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.password1 class="form-control is-valid" placeholder="Password" %}
            {% if form.password1.help_text %}
              <small class="form-text text-muted">
                {{ form.password1.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% if form.password2.errors %}
            {% render_field form.password2 class="form-control is-invalid" placeholder="Confirm Password" %}
            {% for error in form.password2.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.password2.help_text %}
              <small class="form-text text-muted">
                {{ form.password2.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.password2 class="form-control is-valid" placeholder="Confirm Password" %}
            {% if form.password2.help_text %}
              <small class="form-text text-muted">
                {{ form.password2.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / Password -->

      <!-- Is Active --> 
      <div class="form-group row text-center mb-5">
        <div class="col-sm-12 form-check-input">
          <label class="switch switch-icon switch-success">
            {% render_field form.is_active class="switch-input" type="checkbox" %}
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
          {% if form.is_active.help_text %}
            <small class="form-text text-muted">
              {{ form.is_active.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Is Active -->
      <br>
      <!-- Is Active --> 
      <div class="form-group row text-center mb-5">
        <div class="col-sm-12 form-check-input">
          <label class="switch switch-icon switch-success">
            {% render_field form.is_staff class="switch-input" type="checkbox" %}
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
          {% if form.is_staff.help_text %}
            <small class="form-text text-muted">
              {{ form.is_staff.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Is Active -->
       
      {% else %}

      <!-- Username and Email -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% render_field form.username class="form-control" placeholder="Username" %}
          {% if form.username.help_text %}
            <small class="form-text text-muted">
              {{ form.username.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% render_field form.email class="form-control" placeholder="Email" %}
          {% if form.email.help_text %}
            <small class="form-text text-muted">
              {{ form.email.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Username and Email -->

      <!-- First Name and Last Name -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% render_field form.first_name class="form-control" placeholder="First Name" %}
          {% if form.first_name.help_text %}
            <small class="form-text text-muted">
              {{ form.first_name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% render_field form.last_name class="form-control" placeholder="Last Name" %}
          {% if form.last_name.help_text %}
            <small class="form-text text-muted">
              {{ form.last_name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / First Name and Last Name -->

      <!-- Password -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% render_field form.password1 class="form-control" placeholder="Password" %}
          {% if form.password1.help_text %}
            <small class="form-text text-muted">
              {{ form.password1.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
          {% if form.password2.help_text %}
            <small class="form-text text-muted">
              {{ form.password2.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Password -->

      <!-- Is Active --> 
      <div class="form-group row text-center mb-5">
        <div class="col-sm-12 form-check-input">
          <label class="switch switch-icon switch-success">
            {% render_field form.is_active class="switch-input" type="checkbox" %}
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
          {% if form.is_active.help_text %}
            <small class="form-text text-muted">
              {{ form.is_active.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Is Active -->
      <br>
      <!-- Is Staff --> 
      <div class="form-group row text-center mb-5">
        <div class="col-sm-12 form-check-input">
          <label class="switch switch-icon switch-success">
            {% render_field form.is_staff class="switch-input" type="checkbox" %}
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
          {% if form.is_staff.help_text %}
            <small class="form-text text-muted">
              {{ form.is_staff.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Is Staff -->

      {% endif %}
        
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Confirm</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</form>

{% endblock %}