{% extends 'management/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendors/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Accounts</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
      <a href="{% url 'account_add' %}" class="btn btn-md btn-success float-left mt-1"><i class="fa fa-user-plus"></i> New</a>
      <a href="{% url 'home' %}" class="btn btn-md btn-danger float-right mt-1"><i class="fa fa-close"></i></a>
    </div>
    <div class="card-body">
      <table id="accounts" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Userame</th>
            <th>E-mail</th>
            <th>Active?</th>
            <th>Admin?</th>
          </tr>
        </thead>
        <tbody>
          {% if accounts %}
            {% for account in accounts %}
            <tr>
              <td><a style="text-decoration:none" href="{% url 'account_edit' account.pk %}">Account No: {{ account.pk }}</a></td>
              <td><a style="text-decoration:none" href="{% url 'account_edit' account.pk %}">{{ account.get_full_name }}</a></td>
              <td>{{ account.username }}</td>
              <td>{{ account.email }}</td>
              <td class="bg-{% if account.is_active %}success{% else %}danger{% endif %}">{% if account.is_active %}Yes{% else %}No{% endif %}</td>
              <td class="bg-{% if account.is_staff %}success{% else %}danger{% endif %}">{% if account.is_staff %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendors/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#accounts').DataTable();
  });
</script>
{% endblock %}