{% extends 'management/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load form_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'student_list' %}">Students</a></li>
  <li class="breadcrumb-item active">{{ student.get_full_name }}</li>
</ol>
{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post" class="form-horizontal" novalidate>
  
  {% csrf_token %}

  <div class="card">
    <div class="card-header">
      <b> </b><small>Please fill out the required fields</small>
      <a href="{% url 'student_list' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
    </div>
    <div class="card-body">
      
      {% if form.is_bound %}

      <!-- First Name, Middle Name, Last Name -->
      <div class="form-group row">
        <div class="col-sm-4">
          {% if form.first_name.errors %}
            {% render_field form.first_name class="form-control is-invalid" placeholder="First Name" %}
            {% for error in form.first_name.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.first_name.help_text %}
              <small class="form-text text-muted">
                {{ form.first_name.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.first_name class="form-control is-valid" placeholder="First Name" %}
            {% if form.first_name.help_text %}
              <small class="form-text text-muted">
                {{ form.first_name.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-4">
          {% if form.middle_name.errors %}
            {% render_field form.middle_name class="form-control is-invalid" placeholder="Middle Name" %}
            {% for error in form.middle_name.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.middle_name.help_text %}
              <small class="form-text text-muted">
                {{ form.middle_name.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.middle_name class="form-control is-valid" placeholder="Middle Name" %}
            {% if form.middle_name.help_text %}
              <small class="form-text text-muted">
                {{ form.middle_name.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-4">
          {% if form.last_name.errors %}
            {% render_field form.last_name class="form-control is-invalid" placeholder="Last Name" %}
            {% for error in form.last_name.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.last_name.help_text %}
              <small class="form-text text-muted">
                {{ form.last_name.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.last_name class="form-control is-valid" placeholder="Last Name" %}
            {% if form.last_name.help_text %}
              <small class="form-text text-muted">
                {{ form.last_name.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / First Name, Middle Name, Last Name  -->

      <!-- Gender Civil Status Date of Birth -->
      <div class="form-group row">
        <div class="col-sm-4">
          {% if form.gender.errors %}
            {% render_field form.gender class="form-control is-invalid" %}
            {% for error in form.gender.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.gender.help_text %}
              <small class="form-text text-muted">
                {{ form.gender.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.gender class="form-control is-valid" %}
            {% if form.gender.help_text %}
              <small class="form-text text-muted">
                {{ form.gender.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-4">
          {% if form.civil_status.errors %}
            {% render_field form.civil_status class="form-control is-invalid" %}
            {% for error in form.civil_status.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.civil_status.help_text %}
              <small class="form-text text-muted">
                {{ form.civil_status.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.civil_status class="form-control is-valid" %}
            {% if form.civil_status.help_text %}
              <small class="form-text text-muted">
                {{ form.civil_status.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
		<div class="col-sm-4">
          {% if form.date_of_birth.errors %}
            <div class="input-group date" id="date_of_birth" data-target-input="nearest">
              {% render_field form.date_of_birth class="form-control is-invalid datetimepicker-input" data-target="#date_of_birth" placeholder="Date of Birth" %}
              <div class="input-group-append" data-target="#date_of_birth" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            {% for error in form.date_of_birth.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.date_of_birth.help_text %}
              <small class="form-text text-muted">
                {{ form.date_of_birth.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            <div class="input-group date" id="date_of_birth" data-target-input="nearest">
              {% render_field form.date_of_birth class="form-control is-valid datetimepicker-input" data-target="#date_of_birth" placeholder="Date of Birth" %}
              <div class="input-group-append" data-target="#date_of_birth" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            {% if form.date_of_birth.help_text %}
              <small class="form-text text-muted">
                {{ form.date_of_birth.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / Gender Civil Status Date of Birth-->

      <!-- Full Address -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% if form.section.errors %}
            {% render_field form.section class="form-control is-invalid" %}
            {% for error in form.section.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.section.help_text %}
              <small class="form-text text-muted">
                {{ form.section.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.section class="form-control is-valid" %}
            {% if form.section.help_text %}
              <small class="form-text text-muted">
                {{ form.section.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% if form.full_address.errors %}
            {% render_field form.full_address class="form-control is-invalid" %}
            {% for error in form.full_address.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.full_address.help_text %}
              <small class="form-text text-muted">
                {{ form.full_address.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.full_address class="form-control is-valid" %}
            {% if form.full_address.help_text %}
              <small class="form-text text-muted">
                {{ form.full_address.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / Full Address -->

	  <!-- Profile Photo -->
      <div class="col mb-3">
        {% render_field form.profile_photo class="form-control" placeholder="full Address" %}
        {% if form.profile_photo.help_text %}
          <small class="form-text text-muted">
            {{ form.profile_photo.help_text|safe }}
          </small> 
        {% endif %}
      </div>
	  <!-- / Profile Photo -->

      <!-- Is Active --> 
      <div class="form-group row text-center mb-5">
        <div class="col-sm-12 form-check-input">
          <label class="switch switch-icon switch-success">
            {% render_field form.is_active class="switch-input" type="checkbox" %}
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
          {% if form.is_active.help_text %}
            <small class="form-text text-muted">
              {{ form.is_active.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Is Active -->
       
      {% else %}

      <!-- First Name, Middle Name, Last Name  -->
      <div class="form-group row">
        <div class="col-sm-4">
          {% render_field form.first_name class="form-control" placeholder="First Name" %}
          {% if form.first_name.help_text %}
            <small class="form-text text-muted">
              {{ form.first_name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-4">
          {% render_field form.middle_name class="form-control" placeholder="Middle Name" %}
          {% if form.middle_name.help_text %}
            <small class="form-text text-muted">
              {{ form.middle_name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-4">
          {% render_field form.last_name class="form-control" placeholder="Last Name" %}
          {% if form.last_name.help_text %}
            <small class="form-text text-muted">
              {{ form.last_name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        
      </div>
      <!-- / First Name, Middle Name, Last Name  -->

      <!-- Gender Civil Status Date of Birth -->
      <div class="form-group row">
        <div class="col-sm-4">
          {% render_field form.gender class="form-control" placeholder="Last Name" %}
          {% if form.gender.help_text %}
            <small class="form-text text-muted">
              {{ form.gender.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-4">
          {% render_field form.civil_status class="form-control" placeholder="Last Name" %}
          {% if form.civil_status.help_text %}
            <small class="form-text text-muted">
              {{ form.civil_status.help_text|safe }}
            </small> 
          {% endif %}
        </div>
		<div class="col-sm-4">
          <div class="input-group date" id="date_of_birth" data-target-input="nearest">
            {% render_field form.date_of_birth class="form-control datetimepicker-input" data-target="#date_of_birth" placeholder="Date of Birth" %}
            <div class="input-group-append" data-target="#date_of_birth" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          {% if form.date_of_birth.help_text %}
            <small class="form-text text-muted">
              {{ form.date_of_birth.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Gender Civil Status Date of Birth -->

      <!-- Section and Full Address -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% render_field form.section class="form-control" placeholder="full Address" %}
          {% if form.section.help_text %}
            <small class="form-text text-muted">
              {{ form.section.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% render_field form.full_address class="form-control" placeholder="full Address" %}
          {% if form.full_address.help_text %}
            <small class="form-text text-muted">
              {{ form.full_address.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Section and Full Address -->

	    <!-- Profile Photo -->
      <div class="col mb-3">
        {% render_field form.profile_photo class="form-control" placeholder="full Address" %}
        {% if form.profile_photo.help_text %}
          <small class="form-text text-muted">
            {{ form.profile_photo.help_text|safe }}
          </small> 
        {% endif %}
      </div>
	    <!-- / Profile Photo -->
	  
      <!-- Is Active -->
      <div class="form-group row text-center mb-5">
        <div class="col-sm-12 form-check-input">
          <label class="switch switch-icon switch-success">
            {% render_field form.is_active class="switch-input" type="checkbox" %}
            <span class="switch-label" data-on="" data-off=""></span>
            <span class="switch-handle"></span>
          </label>
          {% if form.is_active.help_text %}
            <small class="form-text text-muted">
              {{ form.is_active.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Is Active -->

      {% endif %}
        
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Confirm</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function () {
      $('#date_of_birth').datetimepicker({
          format: 'YYYY-MM-DD'
      });
  });
  $('#id_height,#id_weight').keypress(function (e) {
    //if the letter is not digit then display error and don't type anything
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      //display error message
      //$("#errmsg1").html("Digits Only").show().fadeOut("slow");
      return false;
    }
  });
  $('#id_height,#id_weight').on("blur", function(e) {
    var height = parseFloat($("#id_height").val());
    var weight = parseFloat($("#id_weight").val());
    height = height*0.01;
    var bmi = weight/Math.pow(height,2);
    bmi = Math.round(bmi * 100) / 100
    $("#id_bmi").val(parseFloat(bmi));
  });
</script>
{% endblock %}