{% extends 'management/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendors/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Students</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    {% if user.is_staff %}<a href="{% url 'student_add' %}" class="btn btn-md btn-success float-left mt-1"><i class="fa fa-plus"></i> New</a>{% endif %}
    <a href="{% url 'home' %}" class="btn btn-md btn-danger float-right mt-1"><i class="fa fa-close"></i></a>
	{% if user.is_staff %}
    <button type="button" title="Export Students' Data" class="btn btn-md btn-info float-right mt-1 mr-3" data-toggle="modal" data-target="#export-modal"><i class="fa fa-download"></i></a>
    <button type="button" title="Import Students' Data" class="btn btn-md btn-info float-right mt-1" data-toggle="modal" data-target="#import-modal"><i class="fa fa-upload"></i></a>
	{% endif %}
  </div>
  <div class="card-body">
    <div class="table-responsive">
		<table id="students" class="table table-striped table-bordered" style="width:100%">
		  <thead>
			<tr>
			  <th>Name</th>
			  <th>Gender</th>
			  <th>Date of Birth</th>
			  <th>Age(Present)</th>
			  <th>Section</th>
			  <th>Is Active?</th>
			</tr>
		  </thead>
		  <tbody>
			{% if students %}
			  {% for student in students %}
			  {% if not student.user.is_staff %}
			  <tr>
				<td><a style="text-decoration:none" href="{% url 'student_detail' student.pk %}">{{ student.get_full_name }}</a></td>
				<td>{{ student.get_gender_display }}</td>
				<td>{{ student.date_of_birth }}</td>
				<td>{{ student.age }}</td>
				<td>{{ student.get_section }}</td>
				<td class="bg-{% if student.is_active %}success{% else %}danger{% endif %}">{% if student.is_active %}Yes{% else %}No{% endif %}</td>
			  </tr>
			  {% endif %}
			  {% endfor %}
			{% endif %}
		  </tbody>
		</table>
	</div>
  </div>
</div>
{% endblock %}

{% block modals %}
<div id="export-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Export student Data" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
	    <h4 class="modal-title">Export Students' Data</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">×</span>
		</button>
	  </div>
	  <div class="modal-body text-center">
		<p style="margin-bottom:20px">Choose the format you wish to export the data:</p>
        <div class="btn-group-vertical" role="group" aria-label="Select export filetype">
		  <a href="{% url 'export_students' 'csv' %}" class="btn btn-lg btn-primary">
			<i class="fa fa-download"></i> Export as .csv
		  </a>
		  <a href="{% url 'export_students' 'xls' %}" class="btn btn-lg btn-primary">
			<i class="fa fa-download"></i> Export as .xls
		  </a>
		  <a href="{% url 'export_students' 'json' %}" class="btn btn-lg btn-primary">
			<i class="fa fa-download"></i> Export as .json
		  </a>
        </div>
	  </div>
	</div>
	<!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="import-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Import student Data" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
	    <h4 class="modal-title">Import Students' Data</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">×</span>
		</button>
	  </div>
	  <div class="modal-body">
		<p class="alert alert-warning"><strong>Please be sure to have the correct format of data in your file. <br> If file fails to upload or does not show the changes you made after the upload please make sure the format of the fields are correct, especially the dates(yyyy-mm-dd).</strong></p>
		<p class="file-input field">
		  <form class="md-form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-sm-12 alert alert-info">
			  <label for="file-input">Select the file to upload:</label><br>
			  <input class="form-control" id="fileInput" type="file" name="students">
			</div>
			<button id="upload-btn"  onclick="upload(event)" class="btn btn-lg btn-success" type="submit">
			  <i class="fa fa-upload"></i> Upload
			</button>
		  </form>
		</p>
	  </div>
	</div>
	<!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block scripts %}
<script src="{% static 'vendors/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
function upload(event) {
	if (!document.getElementById("fileInput").value) {
	  event.preventDefault();
	  alert("Please select a file to upload!");
	}
}
$(document).ready(function() {
  $('#students').DataTable();
});
</script>
{% endblock %}