{% extends 'management/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load form_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'section_list' %}">Sections</a></li>
  <li class="breadcrumb-item active">New Section</li>
</ol>
{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post" class="form-horizontal" novalidate>
  
  {% csrf_token %}

  <div class="card">
    <div class="card-header">
      <b> </b><small>Please fill out the required fields</small>
      <a href="{% url 'section_list' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
    </div>
    <div class="card-body">
      
      {% if form.is_bound %}

      <!-- Grade Level and Name -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% if form.grade_level.errors %}
            {% render_field form.grade_level class="form-control is-invalid" placeholder="Grade Level" %}
            {% for error in form.grade_level.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.grade_level.help_text %}
              <small class="form-text text-muted">
                {{ form.grade_level.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.grade_level class="form-control is-valid" placeholder="Grade Level" %}
            {% if form.grade_level.help_text %}
              <small class="form-text text-muted">
                {{ form.grade_level.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% if form.name.errors %}
            {% render_field form.name class="form-control is-invalid" placeholder="Name" %}
            {% for error in form.name.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.name.help_text %}
              <small class="form-text text-muted">
                {{ form.name.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.name class="form-control is-valid" placeholder="Name" %}
            {% if form.name.help_text %}
              <small class="form-text text-muted">
                {{ form.name.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <!-- / Section  -->

      {% else %}

      <!-- Grade Level  -->
      <div class="form-group row">
        <div class="col-sm-6">
          {% render_field form.grade_level class="form-control" placeholder="Grade Level" %}
          {% if form.grade_level.help_text %}
            <small class="form-text text-muted">
              {{ form.grade_level.help_text|safe }}
            </small> 
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% render_field form.name class="form-control" placeholder="Name" %}
          {% if form.name.help_text %}
            <small class="form-text text-muted">
              {{ form.name.help_text|safe }}
            </small> 
          {% endif %}
        </div>
      </div>
      <!-- / Grade Level  -->

      {% endif %}
        
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Confirm</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>

  </div>
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(function () {
      $('#date_of_birth').datetimepicker({
          format: 'YYYY-MM-DD'
      });
  });
  $('#id_zip_code').keypress(function (e) {
    //if the letter is not digit then display error and don't type anything
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      return false;
    }
  });
</script>
{% endblock %}