{% extends 'management/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendors/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Medical Records</li>
</ol>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <a href="{% url 'medical_record_add' %}" class="btn btn-md btn-success float-left mt-1"><i class="fa fa-plus"></i> New</a>
    <a href="{% url 'home' %}" class="btn btn-md btn-danger float-right mt-1"><i class="fa fa-close"></i></a>
	<button type="button" title="Export Medical Data" class="btn btn-md btn-info float-right mt-1 mr-3" data-toggle="modal" data-target="#export-med"><i class="fa fa-download"></i></a>
	<button type="button" title="Import Medical Data" class="btn btn-md btn-info float-right mt-1" data-toggle="modal" data-target="#import-med"><i class="fa fa-upload"></i></a>   
  </div>
  <div class="card-body">
   <div class="table-responsive">
    <table id="medical" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Medical Record No.</th>
          <th>Patient</th>
          <th>Height and Weight</th>
          <th>BMI</th>
          <th>Condition Recorded</th>
          <th>Date of Consultation</th>
		  <th>Medicine used</th>
          <th>Purpose of Consultation</th>
        </tr>
      </thead>
      <tbody>
        {% if medical_records %}
          {% for medical_record in medical_records %}
          <tr>
		  	{% if user.is_superuser %}
				<td><a style="text-decoration:none" href="{% url 'medical_record_edit' medical_record.pk %}">Record No. {{ medical_record.pk }}</a></td>
				<td><a style="text-decoration:none" href="{% url 'student_detail' medical_record.patient.pk %}">{{ medical_record.patient }}</a></td>
				<td>{{ medical_record.height }} cm , {{ medical_record.weight }} kg</td>
				<td>{{ medical_record.bmi }} : {{ medical_record.get_bmi_category_display }}</td>
				<td>{{ medical_record.condition }}</td>
				<td>{{ medical_record.checkup_date }}</td>
				<td>{{ medical_record.medicine_used }}</td>
				<td>{{ medical_record.reason_of_admission }}</td>
			{% else %}
				<td>Record No. {{ medical_record.pk }}</td>
				<td><a style="text-decoration:none" href="{% url 'student_detail' medical_record.student.pk %}">{{ medical_record.student }}</td>
				<td>{{ medical_record.height }} cm , {{ medical_record.weight }} kg</td>
				<td>{{ medical_record.bmi }} : {{ medical_record.get_bmi_category_display }}</td>
				<td>{{ medical_record.condition }}</td>
				<td>{{ medical_record.checkup_date }}</td>
				<td>{{ medical_record.medicine_used }}</td>
				<td>{{ medical_record.reason_of_admission }}</td>
			{% endif %}
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
   </div>
  </div>
</div>
{% endblock %}

{% block modals %}
<div id="export-med" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Export student's Medical Data" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
	    <h4 class="modal-title">Export Medical Data</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">×</span>
		</button>
	  </div>
	  <div class="modal-body text-center">
		<p style="margin-bottom:20px">Choose the format you wish to export the data:</p>
        <div class="btn-group-vertical" role="group" aria-label="Select export filetype">
		  <a href="{% url 'export_medical' 'csv' %}" class="btn btn-lg btn-primary">
			<i class="fa fa-download"></i> Export as .csv
		  </a>
		  <a href="{% url 'export_medical' 'xls' %}" class="btn btn-lg btn-primary">
			<i class="fa fa-download"></i> Export as .xls
		  </a>
		  <a href="{% url 'export_medical' 'json' %}" class="btn btn-lg btn-primary">
			<i class="fa fa-download"></i> Export as .json
		  </a>
        </div>
	  </div>
	</div>
	<!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="import-med" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Import student Medical Data" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
	    <h4 class="modal-title">Import Medical Data</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">×</span>
		</button>
	  </div>
	  <div class="modal-body">
		<p class="alert alert-warning"><strong>Please be sure to have the correct format of data in your file. <br> If file fails to upload or does not show the changes you made after the upload please make sure the format of the fields are correct.</strong></p>
		<p class="file-input field">
		  <form class="md-form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-sm-12 alert alert-info">
			  <label for="file-input">Select the file to upload:</label><br>
			  <input class="form-control" id="fileInput" type="file" name="medical">
			</div>
			<button id="upload-btn"  onclick="upload(event)" class="btn btn-lg btn-success" type="submit">
			  <i class="fa fa-upload"></i> Upload
			</button>
		  </form>
		</p>
	  </div>
	</div>
	<!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block scripts %}
<script src="{% static 'vendors/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
function upload(event) {
	if (!document.getElementById("fileInput").value) {
	  event.preventDefault();
	  alert("Please select a file to upload!");
	}
}
$(document).ready(function() {
	$('#medical').DataTable();
});
</script>
{% endblock %}