{% extends 'management/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load form_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendors/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="{% url 'student_list' %}">Students</a></li>
	<li class="breadcrumb-item"><a href="{% url 'student_detail' student.pk %}">{{ student.get_full_name }}</a></li>
	<li class="breadcrumb-item active">New Medical Record</li>
</ol>
{% endblock %}

{% block content %}

<div class="card">

	<div class="card-header">
		{{ student.get_full_name }}'s Medical Records
		<a href="{% url 'student_detail' student.pk %}" class="btn btn-sm btn-danger float-right mt-1"><i
				class="fa fa-close"></i> </a>
	</div>

	<div class="card-body">

		<!-- Medical Records -->
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="medical" class="table table-striped table-bordered" style="width:100%">
						<thead>
							<tr>
								<th>Medical Record No.</th>
								<th>Height and Weight</th>
								<th>BMI</th>
								<th>BMI Category</th>
								<th>Condition Recorded</th>
								<th>Date of Consultation</th>
								<th>Medicine used</th>
								<th>Reason of Consultation</th>
							</tr>
						</thead>
						<tbody>
							{% if medical_records %}
							{% for medical_record in medical_records %}
							<tr>
								<td><a style="text-decoration:none"
										href="{% url 'medical_record_edit' medical_record.pk %}">Record No.
										{{ medical_record.pk }}</a></td>
								<td>{{ medical_record.height }} cm , {{ medical_record.weight }} kg</td>
								<td>{{ medical_record.bmi }}</td>
								<td>{{ medical_record.get_bmi_category_display }}</td>
								<td>{{ medical_record.condition }}</td>
								<td>{{ medical_record.checkup_date }}</td>
								<td>{{ medical_record.medicine_used }}</td>
								<td>{{ medical_record.reason_of_admission }}</td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- / Medical Records -->

		<form action="" method="post" class="form-horizontal" novalidate>

			{% csrf_token %}

			<div class="card">

				<div class="card-body">

					{% if form.is_bound %}

					<!-- Condition Checkup Date reason_of_admission -->
					<div class="form-group row">

						<div class="col-sm-4">
							{% if form.condition.errors %}
							{% render_field form.condition class="form-control is-invalid" %}
							{% for error in form.condition.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.condition.help_text %}
							<small class="form-text text-muted">
								{{ form.condition.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							{% render_field form.condition class="form-control is-valid" %}
							{% if form.condition.help_text %}
							<small class="form-text text-muted">
								{{ form.condition.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>

						<div class="col-sm-4">
							{% if form.checkup_date.errors %}
							<div class="input-group date" id="checkup_date" data-target-input="nearest">
								{% render_field form.checkup_date class="form-control is-invalid datetimepicker-input" data-target="#checkup_date"  %}
								<div class="input-group-append" data-target="#checkup_date"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
							{% for error in form.checkup_date.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.checkup_date.help_text %}
							<small class="form-text text-muted">
								{{ form.checkup_date.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							<div class="input-group date" id="checkup_date" data-target-input="nearest">
								{% render_field form.checkup_date class="form-control is-valid datetimepicker-input" data-target="#checkup_date" %}
								<div class="input-group-append" data-target="#checkup_date"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
							{% if form.checkup_date.help_text %}
							<small class="form-text text-muted">
								{{ form.checkup_date.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>

						<div class="col-sm-4">
							{% if form.reason_of_admission.errors %}
							{% render_field form.reason_of_admission class="form-control is-invalid" %}
							{% for error in form.reason_of_admission.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.reason_of_admission.help_text %}
							<small class="form-text text-muted">
								{{ form.reason_of_admission.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							{% render_field form.reason_of_admission class="form-control is-valid" %}
							{% if form.reason_of_admission.help_text %}
							<small class="form-text text-muted">
								{{ form.reason_of_admission.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>
					</div>
					<!-- / student condition Checkup Date reason_of_admission -->

					<!-- Height Weight BMI -->
					<div class="form-group row">
						<div class="col-sm-3">
							{% if form.medicine_used.errors %}
							{% render_field form.medicine_used class="form-control is-invalid" placeholder="Medicine used" %}
							{% for error in form.date_of_birth.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.medicine_used.help_text %}
							<small class="form-text text-muted">
								{{ form.medicine_used.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							{% render_field form.medicine_used class="form-control is-valid" placeholder="Medicine used" %}
							{% if form.medicine_used.help_text %}
							<small class="form-text text-muted">
								{{ form.medicine_used.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-sm-3">
							{% if form.height.errors %}
							{% render_field form.height class="form-control is-invalid" placeholder="Height" %}
							{% for error in form.date_of_birth.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.height.help_text %}
							<small class="form-text text-muted">
								{{ form.height.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							{% render_field form.height class="form-control is-valid" placeholder="Height" %}
							{% if form.height.help_text %}
							<small class="form-text text-muted">
								{{ form.height.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-sm-3">
							{% if form.weight.errors %}
							{% render_field form.weight class="form-control is-invalid" placeholder="Weight" %}
							{% for error in form.date_of_birth.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.weight.help_text %}
							<small class="form-text text-muted">
								{{ form.weight.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							{% render_field form.weight class="form-control is-valid" placeholder="Weight" %}
							{% if form.weight.help_text %}
							<small class="form-text text-muted">
								{{ form.weight.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-sm-3">
							{% render_field form.bmi class="form-control" %}
							{% if form.bmi.help_text %}
							<small class="form-text text-muted">
								{{ form.bmi.help_text|safe }}
							</small>
							{% endif %}
						</div>
					</div>
					<!-- / Height Weight BMI -->

					<!-- Summarized Medical Record -->
					<div class="row">
						<div class="col-sm-12">
							{% if form.summarized_medical_record.errors %}
							{% render_field form.summarized_medical_record class="form-control is-invalid" %}
							{% for error in form.summarized_medical_record.errors %}
							<div class="invalid-feedback">
								{{error}}
							</div>
							{% endfor %}
							{% if form.summarized_medical_record.help_text %}
							<small class="form-text text-muted">
								{{ form.summarized_medical_record.help_text|safe }}
							</small>
							{% endif %}
							{% else %}
							{% render_field form.summarized_medical_record class="form-control is-valid" %}
							{% if form.summarized_medical_record.help_text %}
							<small class="form-text text-muted">
								{{ form.summarized_medical_record.help_text|safe }}
							</small>
							{% endif %}
							{% endif %}
						</div>
					</div>
					<!-- / Summarized Medical Record -->

					{% else %}

					<!--  condition Checkup Date reason_of_admission -->
					<div class="form-group row">
						<div class="col-sm-4">
							{% render_field form.condition class="form-control" %}
							{% if form.condition.help_text %}
							<small class="form-text text-muted">
								{{ form.condition.help_text|safe }}
							</small>
							{% endif %}
						</div>
						<div class="col-sm-4">
							<div class="input-group date" id="checkup_date" data-target-input="nearest">
								{% render_field form.checkup_date class="form-control datetimepicker-input" data-target="#checkup_date" %}
								<div class="input-group-append" data-target="#checkup_date"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
							{% if form.checkup_date.help_text %}
							<small class="form-text text-muted">
								{{ form.checkup_date.help_text|safe }}
							</small>
							{% endif %}
						</div>
						<div class="col-sm-4">
							{% render_field form.reason_of_admission class="form-control" %}
							{% if form.reason_of_admission.help_text %}
							<small class="form-text text-muted">
								{{ form.reason_of_admission.help_text|safe }}
							</small>
							{% endif %}
						</div>
					</div>
					<!-- / student condition Checkup Date reason_of_admission -->

					<!-- Height Weight BMI -->
					<div class="form-group row">
						<div class="col-sm-3">
							{% render_field form.medicine_used class="form-control" placeholder="Medicine used" %}
							{% if form.medicine_used.help_text %}
							<small class="form-text text-muted">
								{{ form.medicine_used.help_text|safe }}
							</small>
							{% endif %}
						</div>
						<div class="col-sm-3">
							{% render_field form.height class="form-control" placeholder="Height" %}
							{% if form.height.help_text %}
							<small class="form-text text-muted">
								{{ form.height.help_text|safe }}
							</small>
							{% endif %}
						</div>
						<div class="col-sm-3">
							{% render_field form.weight class="form-control" placeholder="Weight" %}
							{% if form.weight.help_text %}
							<small class="form-text text-muted">
								{{ form.weight.help_text|safe }}
							</small>
							{% endif %}
						</div>
						<div class="col-sm-3">
							{% render_field form.bmi class="form-control" %}
							{% if form.bmi.help_text %}
							<small class="form-text text-muted">
								{{ form.bmi.help_text|safe }}
							</small>
							{% endif %}
						</div>
					</div>
					<!-- / Height Weight BMI -->

					<!-- Summarized Medical Record -->
					<div class="row">
						<div class="col-sm-12">
							{% render_field form.summarized_medical_record class="form-control" %}
							{% if form.summarized_medical_record.help_text %}
							<small class="form-text text-muted">
								{{ form.summarized_medical_record.help_text|safe }}
							</small>
							{% endif %}
						</div>
					</div>
					<!-- / Summarized Medical Record -->

					{% endif %}
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Confirm</button>
					<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
				</div>
			</div>
		</form>

		{% endblock %}

		{% block scripts %}
		<script src="{% static 'vendors/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'vendors/js/dataTables.bootstrap4.min.js' %}"></script>
		<script>
			$(function () {
				$('#checkup_date').datetimepicker({
					format: 'YYYY-MM-DD HH:mm'
				});
				$('#medical').DataTable();
			});
			$('#id_height,#id_weight').keypress(function (e) {
				//if the letter is not digit then display error and don't type anything
				if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
					//display error message
					//$("#errmsg1").html("Digits Only").show().fadeOut("slow");
					return false;
				}
			});
			$('#id_height,#id_weight').on("blur", function (e) {
				var height = parseFloat($("#id_height").val());
				var weight = parseFloat($("#id_weight").val());
				height = height * 0.01;
				var bmi = weight / Math.pow(height, 2);
				bmi = Math.round(bmi * 100) / 100
				$("#id_bmi").val(parseFloat(bmi));
			});
		</script>
		{% endblock %}