{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="School Clinic Record System - ALTA TIERRA INTEGRATED SCHOOL, INC.">
  <meta name="author" content="tramyek">
  <meta name="keyword" content="School Clinic Record System">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

  <title>{% block title %}SCRS | Auth{% endblock %}</title>

  <!-- Icons -->
  <link href="{% static 'vendors/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Styles required by this views -->

  <style>
    .landing-image {
       background-image: url("{% static 'img/bg.png' %}") !important; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .app {
      opacity: .9;
    }
  </style>


</head>

<body class="app flex-row align-items-center landing-image">
  <div class="container">
    <div class="row justify-content-center">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Bootstrap and necessary plugins -->
  <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/js/popper.min.js' %}"></script>
  <script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>

</body>
</html>