{% extends 'auth/base.html' %}

{% load widget_tweaks %}
{% load form_tags %}

{% block title %}SCRS | Login {% endblock %}

{% block content %}

  <div class="col-md-8">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <h1>Login</h1>
          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              {% for error in form.non_field_errors %}
                <b>Authentication Error:</b> <br> {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          <p class="text-muted">Sign in to your account</p>
          <form method="post" novalidate>
            {% csrf_token %}

            {% if form.is_bound %}

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                {% if form.username.errors %}
                  {% render_field form.username class="form-control is-invalid" placeholder="Username" %}
                  {% for error in form.username.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field form.username class="form-control is-valid" placeholder="Username" %}
                {% endif %}
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                {% if form.password.errors %}
                  {% render_field form.password class="form-control is-invalid" placeholder="Password" %}
                  {% for error in form.password.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field form.password class="form-control is-valid" placeholder="Password" %}
                {% endif %}
              </div>
            
            {% else %}
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              {% render_field form.username class="form-control" placeholder="Username" %}
              {% if form.username.help_text %}
                <small class="form-text text-muted">
                  {{ form.username.help_text|safe }}
                </small> 
              {% endif %}
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              {% render_field form.password class="form-control" placeholder="Password"%}
              {% if form.password.help_text %}
                <small class="form-text text-muted">
                  {{ form.password.help_text|safe }}
                </small> 
              {% endif %}
            </div>
            
            {% endif %}

            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-primary px-4">Login</button>
              </div>
              <!--<div class="col-6 text-right">
                <a href="#" class="btn btn-link px-0">Forgot password?</a>
              </div>-->
            </div>
          </form>
        </div>
      </div>
      <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
        <div class="card-body text-center">
          <div>
            <h2>School Clinic Record System</h2>
            <p>For system access requests, please contact known system administrator for the process of account creation.</p>
            <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}