{% extends 'management/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load form_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">{{ user.username }}</li>
  <li class="breadcrumb-item active">Change Password</li>
</ol>
{% endblock %}

{% block title %} SCRS | Change Password {% endblock %}

{% block content %}

<form action="" method="post" class="form-horizontal" novalidate>
  {% csrf_token %}

  <div class="card">
    <div class="card-header">
      <b> </b><small>Please fill out the required fields</small>
      <a href="{% url 'home' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
    </div>
    <div class="card-body">
      
      {% if form.is_bound %}

      <!-- Password -->
      <div class="form-group row">
        <div class="col-sm-12">
          {% if form.old_password.errors %}
            {% render_field form.old_password class="form-control is-invalid" placeholder="Old Password" %}
            {% for error in form.old_password.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% if form.old_password.help_text %}
              <small class="form-text text-muted">
                {{ form.old_password.help_text|safe }}
              </small> 
            {% endif %}
          {% else %}
            {% render_field form.old_password class="form-control is-valid" placeholder="Old Password" %}
            {% if form.old_password.help_text %}
              <small class="form-text text-muted">
                {{ form.old_password.help_text|safe }}
              </small> 
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
        {% if form.new_password1.errors %}
          {% render_field form.new_password1 class="form-control is-invalid" placeholder="New Password" %}
          {% for error in form.new_password1.errors %}
          <div class="invalid-feedback">
            {{error}}
          </div>
          {% endfor %}
          {% if form.new_password1.help_text %}
            <small class="form-text text-muted">
              {{ form.new_password1.help_text|safe }}
            </small> 
          {% endif %}
        {% else %}
          {% render_field form.new_password1 class="form-control is-valid" placeholder="New Password" %}
          {% if form.new_password1.help_text %}
            <small class="form-text text-muted">
              {{ form.new_password1.help_text|safe }}
            </small> 
          {% endif %}
        {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
        {% if form.new_password2.errors %}
          {% render_field form.new_password2 class="form-control is-invalid" placeholder="Confirm New Password" %}
          {% for error in form.new_password2.errors %}
          <div class="invalid-feedback">
            {{error}}
          </div>
          {% endfor %}
          {% if form.new_password2.help_text %}
            <small class="form-text text-muted">
              {{ form.new_password2.help_text|safe }}
            </small> 
          {% endif %}
        {% else %}
          {% render_field form.new_password2 class="form-control is-valid" placeholder="Confirm New Password" %}
          {% if form.new_password2.help_text %}
            <small class="form-text text-muted">
              {{ form.new_password2.help_text|safe }}
            </small> 
          {% endif %}
        {% endif %}
        </div>
      </div>
      <!-- / Password -->

      {% else %}

      <!-- Password -->
      <div class="form-group row">
        <div class="col-sm-12">
        {% render_field form.old_password class="form-control" placeholder="Old Password" %}
        {% if form.old_password.help_text %}
          <small class="form-text text-muted">
            {{ form.old_password.help_text|safe }}
          </small> 
        {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
        {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
        {% if form.new_password1.help_text %}
          <small class="form-text text-muted">
            {{ form.new_password1.help_text|safe }}
          </small> 
        {% endif %}  
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
        {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" %}
        {% if form.new_password2.help_text %}
          <small class="form-text text-muted">
            {{ form.new_password2.help_text|safe }}
          </small> 
        {% endif %}  
        </div>
      </div>
      <!-- / Password -->

      {% endif %}
        
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Confirm</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</form>

{% endblock %}