{% extends 'management/base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">{{ user.username }}</li>
  <li class="breadcrumb-item">Change Password</li>
  <li class="breadcrumb-item active">Password Change Successful</li>
</ol>
{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-header">
      <a href="{% url 'home' %}" class="btn btn-sm btn-danger float-right mt-1"><i class="fa fa-close"></i> </a>
    </div>
    <div class="card-body">
      <p class="display-4">
		Your password have been changed successfully. 
		<hr><a href="{% url 'home' %}" class="btn btn-lg btn-success float-right mt-1"><i class="fa fa-check"></i> Ok</a>
	  </p>
      
    </div>
  </div>

{% endblock %}